.width-group{
    width: 100%;
    min-width: 700px;
}
  
.box{
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.2);
}

.btn-outline-info:hover {
  color: white;
}

.big-button {
  width: 50px; 
  height: 50px; 
  font-size: 24px; 
  line-height: 50px;
}