<div class="question-container">
    <div class="question-header">
        <h2 id="question">{{ question.textQuestion }}</h2>
        <ul>
            <li *ngFor="let answer of question.answers; let i = index">
                <label class="container">
                    <input type="checkbox" [id]="questionId + i" name="answer" class="answer" />
                    <label [for]="questionId + i" [id]="questionId + i">{{answer.textAnswer}}</label>
                    <span class="checkmark"></span>
                </label>
            </li>
        </ul>
    </div>
</div>

