<div class="container mb-3">
    <div class="input-group mx-auto justify-content-center align-items-center " *ngIf="isCreator">
        <span class="input-group-text w-25 fs-4" id="quiz.title">{{title}}</span>
        <button type="button" class="btn btn-outline-secondary fs-4" [id]="'change'+id" [routerLink]="['/quiz', id]">Modifier</button>
        <button type="button" class="btn btn-outline-danger fs-4" [id]="'delete'+id" (click)="deleteQuiz()">Supprimer</button>
        <button type="button" class="btn btn-outline-primary fs-4" [id]="'rank'+id" [routerLink]="['/quiz', id]">Classement</button>
    </div>
    <div *ngIf="!isCreator">
        <!-- Ngif a déjà répondu -->
        <div class="input-group mx-auto justify-content-center align-items-center ">
            <span class="input-group-text fs-4 w-25" id="quiz.title">{{title}}</span>
            <span class="input-group-text fs-4">Score 2/4</span>
        </div>
        <!-- Ngif n'a pas déjà répondu -->
        <div class="input-group mx-auto justify-content-center align-items-center ">
            <span class="input-group-text fs-4 w-25" id="quiz.title">{{title}}</span>
            <button type="button" class="btn btn-outline-primary fs-4" [id]="'access'+id" [routerLink]="['/quiz', id]">Participer</button>
        </div>
    </div>
</div>