<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">

                    <!-- Choisir entre connexion/créer un compte -->
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start mb-3">
                        <div class="d-flex mx-auto my-switch text-body-secondary">
                            <div class="toggle">
                                <input type="radio" name="loginOrRegister" id="login" checked (click)="setWantToLogin(true)" />
                                <label for="login">Se connecter</label>
                                <input type="radio" name="loginOrRegister" id="register" (click)="setWantToLogin(false)" />
                                <label for="register">Créer un compte</label>
                            </div>
                        </div>
                    </div>

                    <p *ngIf="thereIsProblem" class="text-center text-danger" id="basic-addon4">
                        {{problemText}}
                    </p>

                    <p *ngIf="accountCreatedWithSucess" class="text-center text-success" id="basic-addon4">
                        Compte créé avec succès.
                    </p>


                    <!-- Separator -->
                    <div class="divider d-flex align-items-center my-4"></div>

                    <!-- Pseudo input -->
                    <div class="form-outline mb-4">
                        <input type="email" formControlName="username" id="formPseudo" class="form-control form-control-lg" placeholder="Entrer un pseudonyme" />
                        <div *ngIf="form.get('username')?.hasError('required')" class="form-text ps-2" id="basic-addon4">
                            Le pseudonyme est requis.
                        </div>
                        <div *ngIf="form.get('username')?.hasError('minlength')" class="form-text ps-2" id="basic-addon4">
                            Le pseudonyme doit faire 3 caractères minimum.
                        </div>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" formControlName="password" id="formPassword" class="form-control form-control-lg" placeholder="Entrer un mot de passe" />
                        <div *ngIf="form.get('password')?.hasError('required')" class="form-text ps-2" id="basic-addon4">
                            Le mot de passe est requis.
                        </div>
                        <div *ngIf="form.get('password')?.hasError('minlength')" class="form-text ps-2" id="basic-addon4">
                            Le mot de passe doit faire 8 caractères minimum.
                        </div>
                    </div>

                    <!-- Boutons -->
                    <div class="text-center text-lg-start mt-4 pt-2 d-flex justify-content-center align-items-center">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col">
                                    <div *ngIf="wantToLogin">
                                        <button type="submit" class="btn btn-primary btn-lg" [disabled]="form.invalid">Connexion</button>
                                    </div>
                                </div>
                                <div class="col">
                                    <div *ngIf="!wantToLogin">
                                        <button type="submit" class="btn btn-primary btn-lg" [disabled]="form.invalid">S'enregistrer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>